name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"  # Daily at midnight UTC
  workflow_dispatch:  # Manual trigger
  push:
    branches: [main]

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Target repository
          user: intuitem
          repo: ciso-assistant-community
          template: repository

          # Output
          filename: ciso-assistant.svg
          config_timezone: Europe/Paris

          # Plugins
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 1
          plugin_lines_sections: base, repositories

          plugin_contributors: yes
          plugin_contributors_head: main
          plugin_contributors_contributions: yes

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
